<!-- My CSS -->
<link rel="stylesheet" href="css/style.css" />

<div class="title mt-5">
  <div class="row">
    <div class="col text-center">
      <h1><div class="">DESTINATION</div></h1>
    </div>
  </div>
</div>

<div id="container" class="mt-5 g-6">
  <div class="item">
    <div class="title-item">PUNCAK RINJANI</div>
    <div class="content">
      <img src="img/Puncak Rinjani.jpeg" />
    </div>
  </div>

  <div class="item">
    <div class="title-item">DANAU SEGARA ANAK</div>
    <div class="content">
      <img src="img/Danau Segara Anak.jpeg" />
    </div>
  </div>

  <div class="item">
    <div class="title-item">PELAWANGAN CAMP AREA</div>
    <div class="content">
      <img src="img/Pelawangan Camp Area.jpeg" />
    </div>
  </div>

  <div class="item">
    <div class="title-item">PEMANDIAN AIR PANAS</div>
    <div class="content">
      <img src="img/Pemandian Air Panas.jpeg" />
    </div>
  </div>

  <div class="item">
    <div class="title-item">TOREAN</div>
    <div class="content">
      <img src="img/Torean.jpeg" />
    </div>
  </div>

  <div class="item">
    <div class="title-item">AIR TERJUN</div>
    <div class="content">
      <img src="img/Air Terjun.jpeg" />
    </div>
  </div>
</div>
