<style type="text/css">
  .contact {
    display:contents;
    text-align: center;
    margin-top: 5px;
  }
</style>

<div class="countainer">
  <div class="row">
    <div class="col">
      <h1>
        <div class="display-4 mt-4">PROFILE TAMAN NASIONAL GUNUNG RINJANI</div>
      </h1>
    </div>
  </div>
</div>
<h3 class="fw-bold mt-4">VISI MISI</h3>
<ul>
  <li class="fw-bold">Visi</li>
  <p>
    Terwujudnya Taman Nasional Gunung Rinjani yang lestari dan bermanfaat bagi
    kesejahteraan masyarakat sekitar
  </p>
  <li class="fw-bold">Misi</li>
  <ol>
    <li>
      Mewujudkan fungsi Taman Nasional Gunung Rinjani bagi peningkatan
      kesejahteraan masyarakat.
    </li>
    <li>
      Mewujudkan ekowisata di Taman Nasional Gunung Rinjani yang mendukung
      kelestrian Taman Nasional Gunung Rinjani dan pengembangan ekonomi daerah.
    </li>
    <li>
      Mewujudkan pelestarian flora dan fauna beserta ekosistem pendukungnya
      serta situs budaya di dalam kawasan berdasarkan azas keadilan demokratis
      dan kerakyatan.
    </li>
    <li>
      Pengawetan keanekaragaman jenis dan ekonominya serta pemanfaatan secara
      lestari sumberdaya alam hayati dan ekosistemnya
    </li>
    <li>
      Memantapkan optimalisasi fungsi dan pemanfaatan kawasan TNGR untuk
      kepentingan pengembangan ilmu pengetahuan dan pendidikan, kegiatan yang
      menunjang budidaya
    </li>
    <li>
      Mewujudkan pengelolaan TNGR yang berwawasan sosial budaya, lingkungan dan
      ekonomi.
    </li>
  </ol>
</ul>
<h3 class="fw-bold mt-4">SEJARAH</h3>
<p>
  Menurut informasi yang diperoleh dari Dinas Pertambangan dan Energi Propinsi
  Nusa Tenggara barat, dimasa lampau Gunung Rinjani diperkirakan mencapai
  ketinggian ± 5.000 m diatas permukaan laut dengan letak sebelah barat Gunung
  Rinjani Kini pada jaman Praquarter (>1,8 Juta Tahun yang lalu) daerah Rinjani
  merupakan endapan batuan sedimen, yang selanjutnya pada masa Plistosen (<1,8
  Juta Tahun yang lalu) terjadi aktifitas vulkanik, sebagai akibat
  berlangsungnya gejala tektonik vulkanik, dapat menerobos keluar sampai
  permukaan berupa kegiatan letusan atau lelehan lava. Pada masa fase
  penghancuran gunung api Gunung Rinjani telah membentuk suatu kaldera yang
  sebagian besar terisi air dan membentuk danau yang dinamakan Danau Segara Anak
  (± 2.010 m dpl) yang mempunyai kedalaman ± 230 meter, berbentuk bulan sabit
  dengan luasan sekitar 1.100 Ha. Akibat tektonik vulkanik yang terus menerus di
  tengah-tengah kaldera muncul kerucut baru gunung api yang dinamakan Gunung
  Baru Jari (± 2.376 m dpl). Sejarah letusan Gunung Rinjani dimulai sejak tahun
  1847 sampai tahun 2004, telah sembilan kali meletus yang berkisar di bagian
  dalam kaldera, sedangkan kawah Gunung Rinjani sendiri belum pernah tercatat
  letusan.
</p>
<p>
  Pada awalnya Taman Nasional Gunung Rinjani merupakan kawasan Suaka Marga Satwa
  yang ditetapkan Gubernur Hindia Belanda pada tahun 1941 berdasarkan Surat
  Keputusan No. 15 Staatblaat Nomor 77 tanggal 12 Maret 1941 yang merupakan
  bagian dari Kelompok Hutan Rinjani (RTK.1) yang ditetapkan oleh Gubernur
  Hindia Belanda pada tanggal 9 september 1929, pada tahun, pada tahun 1990
  diumumkan menjadi Taman Nasional Gunung Rinjani melalui Surat Pernyataan
  Menteri Kehutanan No. 448/Menhut-VI/1990 tanggal 6 maret 1990 pada acara
  Puncak Pekan Konservasi Alam Nasional ke-3 di Mataram Propinsi Nusa Tenggara
  Barat. Pada tahun 1997 ditunjuk sebagai Taman Nasional Gunung Rinjani dengan
  Surat Keputusan Menhut No. 280/Kpts-VI/1997 tanggal 23 mei 1997 kemudian
  melalui Surat Keputusan Menteri Kehutanan No.298/Menhut-II/2005 tanggal 3
  Agustus 2005 ditetapkan sebagai Taman Nasional.
</p>

<!-- <div class="information text-center mt-4">
  <div class="information-section">
    <h2>INFORMATION</h2>
    <p>TAMAN NASIONAL GUNUNG RINJANI</p>
  </div>
  <div class="contact">
    <div class="contact-information">
      <img
        src="https://www.rinjaninationalpark.id/frontend/images/contact/icon2.png"
        alt="phone"
        class="img-thumbnail"
        width="50px"
      />
      <h3>Phone</h3>
      <p>0811283939</p>
    </div>

    <div>
      <img
        src="https://www.rinjaninationalpark.id/frontend/images/contact/icon3.png"
        alt="email"
        class="img-thumbnail"
        width="50px"
      />
      <h3>Email</h3>
      <p>tngunungrinjani@menlhk.go.id tn.rinjani@gmail.com</p>
    </div>

    <div>
      <img
        src="https://www.rinjaninationalpark.id/frontend/images/contact/icon1.png"
        alt="address"
        class="img-thumbnail"
        width="50px"
      />
      <h3>Address</h3>
      <p>
        Jl. Dr. Soedjono, Jl. Lingkar Selatan, Jempong Baru, Kec. Sekarbela,
        Kota Mataram, Nusa Tenggara Bar. 83361
      </p>
    </div>
  </div>
</div> -->
